<html>

<head>
    <title>Envelope</title>
</head>

<body style="width: 100%; transform: scale(1.25); transform-origin: top;">
    <div style="margin: auto; writing-mode: vertical-rl; text-orientation: unset; width: fit-content; height: max-content;">
        <p style="margin-right:8px; margin-left:8px"> 
            <span style="font-size:12pt"> 
                <span style="font-family:Calibri,sans-serif"> 
                    <span lang="ZH-TW" style="font-size:14.0pt"> 
                        <span style="font-family:DFKai-SB"> 
                            <span zpref="@Address" zptype="zpdata">國軍桃園總醫院藥庫黃小姐收</span>
                        </span>
                    </span> 
                </span> 
            </span>
        </p>
        <p style="margin-right:8px; margin-left:8px"> 
            <span style="font-size:10.0pt"> 
                <span style="font-family:'Calibri',sans-serif">110</span> 
            </span> 
            <span lang="ZH-TW" style="font-size:10.0pt"> 
                <span style="font-family:PMingLiU">裕字</span> 
            </span> 
            <span style="font-size:10.0pt"> 
                <span style="font-family:'Calibri',sans-serif">- 
                    <span zpref="@LetterCode" zptype="zpdata">LetterCode</span> 
                </span> 
            </span>
        </p>
        <p style="margin-right:8px; margin-left:8px"> 
            <span style="font-size:12pt"> 
                <span style="line-height:26.0pt">
                    <span style="font-family:Calibri,sans-serif"> 
                        <span lang="ZH-TW" style="font-size:18.0pt"> 
                            <span style="font-family:DFKai-SB">
                                <span zpref="@CustomerNameLL" zptype="zpdata">彼の肩に力が入っています</span> 
                                <span zpref="@ContactPosition" zptype="zpdata">國軍桃園總醫院　藥庫　黃小姐 收!</span>
                                <span zpref="@ContactName" zptype="zpdata">110 裕字-000109!</span>
                                <span zpref="@ContactName" zptype="zpdata">桃園市龍潭區中興路168號!</span>
                            </span> 
                        </span>
                        <span style="font-size:18.0pt">
                            <span style="font-family:DFKai-SB">收</span> 
                        </span> 
                    </span> 
                </span>
            </span>
        </p>
    </div>
</body>

</html>