<html>

<head>
    <title></title>
</head>

<body class="body_content" style="transform: scale(0.6); zoom: 1;">
    <p style="margin-top: 9px; margin-right: -19px; text-align:center"><span style="font-size:9pt"><span
                style="font-family: Times New Roman ,serif"><span style="font-size:20.0pt"><span
                        style="font-family: Calibri ,sans-serif"><span style="color:red"><span
                                style="background:whitesmoke"><span zpref="@CompanyNameLL"
                                    zptype="zpdata">@(Test)Zuellig Pharma
                                    Inc.12</span> </span></span></span></span>&nbsp;<span style="font-size:20.0pt"><span
                        style="background:whitesmoke"><span style="font-family: ralewaybold ,serif"><span
                                style="color:red">*</span></span></span></span><span style="font-size:20.0pt"><span
                        style="font-family:DFKai-SB"><span style="color:black">&nbsp; &nbsp;
                            函</span></span></span></span></span></p>
    <p style="margin-top: 9px; margin-right: -19px; margin-left: 150px;">&nbsp;</p>
    <p style="margin-top: 9px; margin-right: -19px;"><span style="font-size:9pt"><span
                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                style="color:black"></span></span></span></span></span></span></p>
    <p style="margin-right: -19px; margin-bottom: 20px; margin-left: 47%; text-indent: 36pt;"><span
            style="font-size:9pt"><span style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                        style="font-family: Times New Roman ,serif"><span lang="ZH-TW" style="font-size:11.0pt"><span
                                style="font-family:DFKai-SB"><span style="color:black">聯絡地址：</span></span><span
                                style="font-size:11.0pt"><span style="color:red"><span zpref="@Address"
                                        zptype="zpdata">@台北市南京東路四段126號10樓之1至之312</span>
                                </span></span><span style="font-size:11.0pt"><span
                                    style="color:black"></span></span></span></span></span></span></span>
    </p>
    <p style="margin-right: -19px; margin-bottom: 20px; margin-left: 47%; text-indent: 36pt;"><span
            style="font-size:9pt"><span style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                        style="font-family: Times New Roman ,serif"><span lang="ZH-TW" style="font-size:11.0pt"><span
                                style="font-family:DFKai-SB"><span style="color:black">聯絡人員：</span></span><span
                                style="font-size:11.0pt"><span style="color:red"><span zpref="@UserNameLL"
                                        zptype="zpdata">@UserNameLL</span>
                                </span></span><span style="font-size:11.0pt"><span
                                    style="color:black"></span></span></span></span></span></span></span>
    </p>
    <p style="margin-right: -19px; margin-bottom: 20px; margin-left: 47%; text-indent: 36pt;"><span
            style="font-size:9pt"><span style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                        style="font-family: Times New Roman ,serif"><span lang="ZH-TW" style="font-size:11.0pt"><span
                                style="font-family:DFKai-SB"><span style="color:black">聯絡電話：</span></span></span><span
                            style="font-size:11.0pt"><span style="color:red"><span zpref="@PhoneNumber"
                                    zptype="zpdata">0976</span></span>&nbsp;分機&nbsp;&nbsp;<span style="color:red"><span
                                    zpref="@PhoneExt"
                                    zptype="zpdata">02-2570006412</span></span></span></span></span></span></span>
    </p>
    <p style="margin-right: -19px; margin-bottom: 20px; margin-left: 47%; text-indent: 36pt;"><span
            style="font-size:9pt"><span style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                        style="font-family: Times New Roman ,serif"><span lang="ZH-TW" style="font-size:11.0pt"><span
                                style="font-family:DFKai-SB"><span style="color:black">聯絡傳真：</span></span><span
                                style="font-size:11.5pt"><span style="background:whitesmoke"><span
                                        style="color:red"><span zpref="@FaxNumber" zptype="zpdata">02-2579858712</span>
                                    </span></span></span><span style="font-size:11.0pt"><span
                                    style="color:red"></span></span></span></span></span></span></span>
    </p>
    <p style="margin-right: -19px; margin-bottom: 9px; margin-left: 47%; text-indent: 36pt;"><span
            style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                    style="font-family: Times New Roman ,serif"><span lang="ZH-TW" style="font-size:11.0pt"><span
                            style="font-family:DFKai-SB"><span style="color:black">電子信箱：</span></span><span
                            style="font-size:11.0pt"><span style="color:red"><span zpref="@Email"
                                    zptype="zpdata">ver2ver2@gmail.com</span></span></span></span></span></span></span>
    </p>
    <p style="margin-right: -19px; margin-bottom: 9px; margin-left: 250px; text-indent: 36pt;"><span
            style="font-size:9pt"><span style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                        style="font-family: Times New Roman ,serif"><span style="font-size:11.0pt"><span
                                style="font-family:DFKai-SB"><span
                                    style="color:black"></span></span></span></span></span></span></span>
    </p>
    <p style="margin-right: -19px; margin-bottom: 9px; margin-left: 250px; text-indent: 36pt;">&nbsp;</p>
    <table cellpadding="10" style="border-collapse:collapse;border:none;width:600px;">
        <tbody>
            <tr>
                <td style="width: 130px; vertical-align: top; white-space: nowrap;"><span style="font-size:9pt"><span
                            style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                                    style="font-family: Times New Roman ,serif"><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">受 文
                                                者<span style="margin-left: 10px;">
                                                    ：</span></span></span></span></span></span></span></span>
                </td>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:red"><span zpref="@CustomerNameLL"
                                                    zptype="zpdata">亞培員購－台中辦公室</span>&nbsp;</span></span></span></span></span></span></span>
                </td>
            </tr>
            <tr>
                <td style="border:none; width:15pt; padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
                    <p style="margin-top: 9px; margin-right: -19px;"><span style="font-size:9pt"><span
                                style="text-justify:inter-ideograph"><span style="layout-grid-mode:char"><span
                                        style="font-family: Times New Roman ,serif"><span lang="ZH-TW"
                                            style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                    style="color:black">副&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                        style="margin-left: 15px;">本</span><span
                                                        style="margin-left: 3px;">：</span></span></span></span><span
                                            style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                    style="color:black"></span></span></span></span></span></span></span>
                    </p>
                </td>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:red"><span zpref="@CustomerNameLL"
                                                    zptype="zpdata">亞培員購－台中辦公室</span></span></span></span></span></span></span></span>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        lang="ZH-TW" style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">發文日期&nbsp;：</span></span></span></span></span></span></span>
                </td>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="tab-stops:67.5pt"><span style="layout-grid-mode:char"><span
                                        style="font-family: Times New Roman ,serif"><span style="font-size:13.0pt"><span
                                                style="font-family:DFKai-SB"><span style="color:red"><span
                                                        zpref="@CreatedAt"
                                                        zptype="zpdata">03-Apr-2023</span></span></span></span></span></span></span></span></span>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        lang="ZH-TW" style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">發文字號&nbsp;：</span></span></span></span></span></span></span>
                </td>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:red"><span zpref="@LetterCodeLL"
                                                    zptype="zpdata">TW-SL-2023-00018</span>
                                            </span></span></span></span></span></span></span></td>
            </tr>
            <tr>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        lang="ZH-TW" style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                    style="margin-left:10px;">旨</span><span
                                                    style="margin-left:3px;">：</span></span></span></span></span></span></span></span>
                </td>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        lang="AF" style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:red"><span zpref="@Subject" zptype="zpdata">Quy test</span>
                                            </span></span></span><span lang="ZH-TW" style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">本公司代理</span></span><span
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">[@原廠中文名稱]</span></span></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span style="font-family:DFKai-SB">之</span></span><span
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">[@英文品名1])
                                                ([@中文品名1]</span></span></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span style="font-family:DFKai-SB">及</span></span><span
                                        lang="AF" style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">[@</span></span></span><span lang="ZH-TW"
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">英文品名</span></span></span><span lang="AF"
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">2])
                                                ([@</span></span></span><span lang="ZH-TW"
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">中文品名</span></span></span><span lang="AF"
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">2]</span></span></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">等二項產品，自</span></span><span lang="AF"
                                        style="font-size:12.0pt"><span
                                            style="font-family:DFKai-SB">(Date)</span></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">起調整健保給付事宜。</span></span></span></span></span></span>
                </td>
            </tr>
            <tr>
                <td><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                                style="tab-stops:72.0pt"><span style="layout-grid-mode:char"><span
                                        style="font-family: Times New Roman ,serif"><span lang="ZH-TW"
                                            style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                                    style="color:black">說&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                                        style="margin-left:10px;">明</span><span
                                                        style="margin-left:3px;">：</span></span></span></span></span></span></span></span></span>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:7px; margin-bottom:7px; margin-left:48px"><span style="font-size:9pt"><span
                style="tab-stops:67.5pt"><span style="layout-grid-mode:char"><span
                        style="font-family: Times New Roman ,serif"><span style="font-size:8.0pt"><span
                                style="font-family:DFKai-SB"><span style="color:red"> <span zpref="@Content"
                                        zptype="zpdata">
                                        Quy test thu chuc nang
                                        preview</span></span></span></span></span></span></span></span>
    </p>
    <ul>
        <li><span style="font-size:9pt"><span style="text-justify:inter-ideograph"><span
                        style="line-height:17.0pt"><span style="tab-stops:list 71.9pt"><span
                                style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                        style="font-size:13.0pt"></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">本公司與</span></span><span
                                        style="font-size:12.0pt"><span
                                            style="font-family:DFKai-SB">(醫院名稱)</span></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">簽訂之</span></span><span
                                        style="font-size:12.0pt"><span
                                            style="font-family:DFKai-SB">(合約名稱)</span></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">〔案號</span></span><span
                                        style="font-size:13.0pt"><span style="font-family:DFKai-SB">:</span></span>
                                    <span lang="ZH-TW" style="font-size:12.0pt"><span
                                            style="font-family:DFKai-SB">標案名稱</span></span><span lang="ZH-TW"
                                        style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">〕第</span></span><span
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB">Free
                                            Text</span></span><span lang="ZH-TW" style="font-size:13.0pt"><span
                                            style="font-family:DFKai-SB">項次：藥品「</span></span><span
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">[@英文品名1])
                                                ([@中文品名1]</span></span></span><span lang="ZH-TW"
                                        style="font-size:14.0pt"><span style="font-family:DFKai-SB">」</span></span><span
                                        style="font-size:14.0pt"><span style="font-family:DFKai-SB">(</span></span><span
                                        style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                                style="color:black">[@許可證字號])</span></span></span><span lang="ZH-TW"
                                        style="font-size:14.0pt"><span
                                            style="font-family:DFKai-SB">，因其適應症與實際用途非相關，日前已向健保局申請取消健保價，業已通過健保局核准乙案。</span></span><span
                                        style="font-size:14.0pt"><span
                                            style="font-family:DFKai-SB"></span></span></span></span></span></span></span></span>
        </li>
        <li style="margin-top: 7px; margin-bottom: 7px;"><span style="font-size:9pt"><span
                    style="text-justify:inter-ideograph"><span style="tab-stops:list 71.9pt"><span
                            style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                    style="font-size:13.0pt"></span><span lang="ZH-TW" style="font-size:13.0pt"><span
                                        style="font-family:DFKai-SB">本藥品「</span></span><span
                                    style="font-size:12.0pt"><span style="font-family:DFKai-SB"><span
                                            style="color:black">[@英文品名1])
                                            ([@中文品名1]</span></span></span><span lang="ZH-TW"
                                    style="font-size:13.0pt"><span style="font-family:DFKai-SB">」自</span></span><span
                                    style="font-size:12.0pt"><span
                                        style="font-family:DFKai-SB">(Date)</span></span><span lang="ZH-TW"
                                    style="font-size:13.0pt"><span
                                        style="font-family:DFKai-SB">起取消健保價，本公司願以舊合約價</span></span><span
                                    style="font-size:12.0pt"><span style="font-family:DFKai-SB">(Free
                                        Text)</span></span><span lang="ZH-TW" style="font-size:13.0pt"><span
                                        style="font-family:DFKai-SB">繼續供應至合約屆滿。</span></span><span
                                    style="font-size:13.0pt"><span
                                        style="font-family:DFKai-SB"></span></span></span></span></span></span></span>
        </li>
        <li style="margin-top: 7px; margin-bottom: 7px;"><span style="font-size:9pt"><span
                    style="text-justify:inter-ideograph"><span style="tab-stops:list 71.9pt"><span
                            style="layout-grid-mode:char"><span style="font-family: Times New Roman ,serif"><span
                                    style="font-size:13.0pt"></span><span lang="ZH-TW" style="font-size:13.0pt"><span
                                        style="font-family:DFKai-SB">特此通知，煩請　貴會核簽並通知各級相關單位；造成不便之處，懇請見諒，並請繼續支持本公司為禱。</span></span><span
                                    style="font-size:14.0pt"><span
                                        style="font-family:DFKai-SB"></span></span></span></span></span></span></span>
        </li>
    </ul>
    <p style="margin-top: 7px; margin-bottom: 7px; margin-left: 48px;"><span style="font-size:9pt"><span
                style="tab-stops:67.5pt"><span style="layout-grid-mode:char"><span
                        style="font-family: Times New Roman ,serif"><span style="font-size:8.0pt"><span
                                style="font-family:DFKai-SB"><span
                                    style="color:black"></span></span></span></span></span></span></span>
    </p>
    <p style="margin-left: 73px; text-indent: -28pt;"><span style="font-size:9pt"><span
                style="text-justify:inter-ideograph"><span style="line-height:18.0pt"><span
                        style="font-family: Times New Roman ,serif"><span lang="ZH-TW" style="font-size:13.0pt"><span
                                style="font-family:DFKai-SB"><span style="color:black">附件：</span></span></span><span
                            style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                    style="color:black">[@附件]</span></span></span></span></span></span></span>
    </p>


    <div style="position: relative; margin-left: 60%;">
        <img zpref="@StampChopTradeLetter" zptype="zpdata"
            src="https://azeztendertw.blob.core.windows.net/devtest/2023/04/05/sDRNSJIu9a1680665260089.png?sv=2021-06-08&se=2023-04-06T22%3A23%3A44Z&sr=b&sp=r&sig=khEd6ZaFsUBjUWvADdZtYKKCF%2Bf8KcyGav8X3GLXwLM%3D"
            style="position: absolute;" />
        <p style="position:absolute; margin-top: 70px; text-indent: -28.05pt;"><span style="font-size:9pt"><span
                    style="text-justify:inter-ideograph"><span style="line-height:18.0pt"><span
                            style="font-family: Times New Roman ,serif"><span style="font-size:13.0pt"><span
                                    style="font-family:DFKai-SB"><span style="color:black">&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span><span
                                style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span
                                        style="color:red"><span zpref="@CompanyNameLL" zptype="zpdata">@(Test)Zuellig
                                            Pharma Inc.12
                                        </span>*</span></span></span></span></span></span></span>
        </p>
        <p style="position:absolute; margin-top:150px; text-indent:-28.05pt"><span style="font-size:9pt"><span
                    style="line-height:18.0pt"><span style="font-family: Times New Roman ,serif"><span
                            style="font-size:13.0pt"><span style="font-family:DFKai-SB"><span style="color:black">&nbsp;
                                    &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    負責人：</span></span></span><span style="font-size:11.0pt"><span
                                style="background:whitesmoke"><span style="font-family: ralewaysemibold ,serif"><span
                                        style="color:red">&nbsp;<span zpref="@AuthorizedPerson"
                                            zptype="zpdata">@AuthorizedPerson</span>
                                        &nbsp;</span></span></span></span><span style="font-size:11.0pt"><span
                                style="background:whitesmoke"><span style="font-family: ralewaybold ,serif"><span
                                        style="color:red">*</span></span></span></span></span></span></span>
        </p>
    </div>

</body>

</html>